@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap');





body{
margin:0;
display:flex;
justify-content: center;
height: 100vh;
align-items: center;
background: salmon;
font-family: "BBH Bogle", sans-serif;
}
